<ion-header >
    <div text-center >
        <h1 id="titre1"> Page de Détail </h1>
       </div>
       

  </ion-header>
<ion-content>
  <div *ngIf="article!=null">
    <div id="article">
      <ion-label id="articleFont">Article  </ion-label>
      <ion-label id="articleId"> {{article.id}} </ion-label>
    </div>
    <div id="body">
      <h3 id="articleFont">Titre </h3>
      <h4 id="articleTitre">{{article.title}}</h4>
      <h3 id="articleFont">Description de l'article </h3>
      <p>{{article.body}}</p>


    </div>
    <div id="retourBoutton">
      <ion-button (click)="retourListItem()">Retour</ion-button>
    </div>
  </div>
</ion-content>
