
.page-listItem-head{
  background-color: blue ;
}
.currentPage {
  margin: auto;
  margin-top: 2%;
  width: 30%;
  text-align: center;
  padding: 10px;
  
}
.pagination{
  margin-left: 7%;
  
}
.pagination > .pagination-button {
  width: auto;
  display: inline-flex;
  margin-right: 5px;
}
.article > .article-propriete {
  display: table-cell;
}
.article {
  width: auto;
  border-bottom: 1px solid;
}
.article > .label{
  width: 70%;
}
.article > .add-suppr{
  width: 11%;
}
.article > .detail {
  width: 11%;
}

ion-header{
     background-color: rgb(143, 8, 8);
}

ion-grid {
    margin:auto;
     width:90%;
}

#titre1 {
    color:white;
}

#indexDBH1 {
    color : red;
}
#Page {
  //margin: auto;
  //margin-left: 45%;
  /* margin-right: 45%; */
  margin-top: 4%;
  /* height: 10%; */
  /* border: 1.5px solid black; */
  /* padding: 10p px ;*/ 
}

#fontPage {
    font-weight: bold;
}

#fontPageCourante {
    font-weight: bold;
    margin-left: 3% ;
}

#pagination {
  /* margin: auto; */
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: 6%;
  /* margin-right: 35%; */
  /* border: 1.5px solid black; */
  /* padding: 10px; */
  /* display: flex; */
}

#MarginAuto {
    margin:auto;
}

#IfMargin {
    // margin-left: 5%;
}

#connexion {
  margin: auto;
  /* margin-top: 2%; */
  margin-bottom: 2%;
  margin-left: 6%;
  /* width: 55%; */
  /* border: 1.5px solid black; */
  padding: 4px;
  display: flex;
}
