<ion-header style=" background-color: rgb(143, 8, 8)">
  <div class="" text-center >
      <h1> Bienvenue dans la page des articles </h1>
  </div>
</ion-header>
<ion-content>


<div *ngIf="articles!=null; else loadIndexBD">
  <div class="currentPage" >
    
       <ion-label>Page </ion-label>
       
        <ion-label> {{pageCourante}} </ion-label>
      
 </div>  
      <div class="pagination">
        <div>
           <ion-label>Pagination </ion-label>
        </div>
        <div class="pagination-button" *ngIf="pageCourante >= 2 ">
              <button color="primary" (click)="before()">< précédente </button>
        </div>
        <div class="pagination-button" *ngIf="pageCourante <= 9">
              <button color="primary" (click)="next()"> suivante > </button>
        </div>
      </div>	
      <ion-grid style="margin:auto; width:90%">
        <table>
          <tr class="article">
           
                <td style="font-weight: bold">Titre</td>
             
                <td style="font-weight: bold">Etat</td>
           
                <td style="font-weight: bold">Détails</td>
             
          </tr>

          <tr *ngFor="let article of articles" class="article">

            <td class="article-propriete label">

              <label>{{article.article.title}}</label>

            </td>
            <td size-sm="2" class="article-propriete add-suppr">

              <span *ngIf="article.valide==true; else ajout">
                <ion-button color="danger" (click)="delete(article.article.id)" style="width:100px;">Supprimer</ion-button>
              </span>
              <ng-template #ajout>
                <ion-button color="primary" (click)="add(article.article.id)" style="width:100px;">Ajouter</ion-button>
              </ng-template>

            </td>
            <td size-sm="2" class="article-propriete detail">

              <ion-button (click)="detail(article.article)" style="width:100px;">Détails</ion-button>

            </td>

          </tr>
        </table>
      </ion-grid>
  <div style="margin:auto; margin-top: 2% ;margin-bottom: 5% ; width:15% ; border: 1.5px solid  black;padding: 10px;   display: flex;" >
       <div style="margin:auto">
          <ion-label style="font-weight: bold;">Pagination </ion-label>
        </div>
    <div *ngIf="pageCourante >= 2 " style=" margin-left: 5%" >
           <ion-button (click)="before()"> < </ion-button>
         </div>
     <div *ngIf="pageCourante <= 9">
           <ion-button (click)="next()"> > </ion-button>
         </div>
    </div>	
</div>

<ng-template #loadIndexBD>
    <div>
      <h4 style=" color: red"> Pas de connexion, vous avez seulement accès aux articles ajoutés.</h4>
    </div>
  <div style="margin:auto; margin-top: 2% ;margin-bottom: 2% ; width:15% ; border: 1.5px solid  black;padding: 10px;   display: flex;" >
      <div style="margin:auto">
          <ion-label style="font-weight: bold;">Pagination </ion-label>
      </div>
      <div *ngIf="pageCouranteBD > 1 " style=" margin-left: 5%" >
        <ion-button (click)="beforeINDEXBD()"> < </ion-button>
      </div>
      <div *ngIf="pageSuivanteBD > 1">
        <ion-button (click)="nextINDEXBD()"> > </ion-button>
      </div>
  </div>	
  <ion-grid style="margin:auto; width:90%">

    <table>
      <tr class="article">

        <td style="font-weight: bold">Titre</td>

        <td style="font-weight: bold">Etat</td>

        <td style="font-weight: bold">Détails</td>

      </tr>

      <tr *ngFor="let article of indexDB" class="article">

        <td class="article-propriete label">

          <label>{{article.article.title}}</label>

        </td>
        <td size-sm="2" class="article-propriete add-suppr">

          <span *ngIf="article.valide==true; else ajout">
            <ion-button color="danger" (click)="delete(article.article.id)" style="width:100px;">Supprimer</ion-button>
          </span>
          <ng-template #ajout>
            <ion-button color="primary" (click)="add(article.article.id)" style="width:100px;">Ajouter</ion-button>
          </ng-template>

        </td>
        <td size-sm="2" class="article-propriete detail">

          <ion-button (click)="detail(article.article)" style="width:100px;">Détails</ion-button>

        </td>

      </tr>
    </table>

  </ion-grid>	
  <div  style="margin:auto; margin-top: 2% ;margin-bottom: 5% ; width:15% ; border: 1.5px solid  black;padding: 10px;   display: flex;"  >
      <div style="margin:auto">
        <ion-label style="font-weight: bold;" >Pagination </ion-label>
      </div>
      <div *ngIf="pageCouranteBD > 1 " style=" margin-left: 5%" >
        <ion-button (click)="beforeINDEXBD()"> < </ion-button>
      </div>
      <div *ngIf="pageSuivanteBD > 1">
        <ion-button (click)="nextINDEXBD()"> > </ion-button>
      </div>
  </div>	
 	
</ng-template>

</ion-content>
