<ion-header style=" background-color: rgb(143, 8, 8)">
    
       <div text-center >
        <h1 style=" color: white"> Bienvenue dans la page de connexion </h1>
       </div>
  
</ion-header>
<ion-content style="background-color:  burlywood">
          
            <div class="login" text-center>
                <div class="header">
                     <h4 style=" color: black" >Se connecter</h4>
                </div>
                <div class="input-username">
                  <ion-input type="text" placeholder="votre nom d'utilisateur ici" value="" #username></ion-input>
                </div>
                <div text-center>
                    <ion-button color="dark" block (click)="login(username.value)" style="width: 100%;">Connecter</ion-button>
                </div>
      
            </div>
         
       
</ion-content>
